footer {
    padding: 1.5em;
    background: #323232;
    text-align: center;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 10px;
}

footer ul li {
    display: inline;
    padding: 5px;
    color: white;
    font-family: sans-serif;
}

footer ul li a {
    text-decoration: none;
}
