/*
Import fonts here
@import url('');
 */

title {
    margin: 0;
    //backdrop: ;
    font-family: 'Menlo', sans-serif;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;
}

p, blockquote {
    font-size: .9em;


    margin-right: 50px;
    margin-left: 50px;
    //line-height: 1.6em; //line spacing
}
/*
ul {
    list-style-type: none;
    margin:0; //outside of an element
    padding: 0; //inside of an element //left, right, 0
}
*/




.container {

&__image {

     float: left;
 }
&__text {
     display: inline;
 }
}

.container{

}

.header_container {
    font-family: 'Courier New', sans-serif;
    font-size: 3em;
}

.motto {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.logo {
    //Put style attributes here
}


h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align77: center;
}

.name {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', sans-serif;
    padding: .9em; //top, right, bottom, left (clockwise);
}


.profile {
    text-align: right;
}


//Image aligner
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}



.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}