@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');


main {
    margin-top: 100px;
    margin-left: 2em;
    margin-right: 2em;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    font-size: 150%;
}

/*Formatting for the navigation bar*/
.container {
    width: 95%;
    margin: 0 auto;
}

header {
    /*
    position: -webkit-sticky;
    position: sticky;
    
     */
    top: 0;
    background-color: #323232;
}

header::after {
    content: '';
    display: table;
    clear: both
}

.title {
    float: left;
    font-family: 'Courier New', sans-serif;
    font-size: 3em;
}

#title:hover {
    color: blue;
}

nav {
    float: right;
    font-family: 'Courier New', sans-serif;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 70px;
    padding-top: 55px;
    color: #707070;
}

nav li:hover {
    display: inline-block;
    margin-right: 70px;
    padding-top: 40px;
    color: #ffffff;
}

#nav_links {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-family: 'Courier New', sans-serif;
    font-size: 2.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

#title_link {
    color: inherit;
    text-decoration: none;
}

#title_link:hover {
    color: green;
    text-decoration: none;
}





#Assembly {

}


/*Formatting for introduction section*/

#about-me {
    display: flex;
    flex-direction: row;

}

#profile-pic {
    /*justify-content: center;*/
    padding: 1em;

}

#introduction {
    padding: 1em;
}


#academia a{
    color: inherit;
    text-decoration: none;
}


/* Formatting for Projects*/

h6 {
    font-family: 'Courier New', sans-serif;
    font-size: 3.0em;
}

.proj-prof {
    padding: 20px;
}

.projects-container{
    display: flex;
}

.proj-array {
    display: flex;
    flex-direction: column;
}

.project-master{
    display: flex;
    flex-direction: row;
}

.proj-desc {

}

.scheme-logo {
    filter: invert(1);
}

.motto {
    font-family: 'Public Sans', sans-serif;
    font-size: small;
}
