html {
    height: 100%;
}

body {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: auto;
}

h6 {
    margin: 1.7em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 4em;
}

.apple-logo::before {
    content: "";
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}