h6 a {
    text-decoration: none;
    color: white;
}

h3 {
    text-align: center;
    font-size: 3em;
}

.info {
    display: flex;
}


#visual {
    border: 1em;
    object-fit: contain;
    width: 50%;
}

.description {

}

p {
    font-size: 1.5em;
    margin: 1em;
    color: white;
    text-align: center;
}

.buttons {
    width: 10vw;
    margin: 0 auto;
    display: flex;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: darkgreen;
    color: black;
    border: 2px solid #4CAF50;
}

button a {
    text-decoration: none;
    color: lawngreen;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}



/*
.image {
    width: 50vw;
    float: left;
}

#pic {
    width:100%;
    overflow: hidden;
}

.paragraph {
    width:45%;
    float: left;
}

.clearfix{
    clear:both;
}








.project {
    padding: 1.5em;
}

p {
    font-size: 1.5em;
    margin: 0;
    color: white;
    text-align: center;
}

section {
    margin: 0;
}

img {
    border: 5em;
}
*/