h6 a {
    text-decoration: none;
    color: white;
}

h5 {
    text-align: center;
    font-size: 3em;
}

h3 {
    text-align: center;
    font-size: 3em;
}

section {
    height: 100vh;
    color: white;
}

section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}