h6 a {
    text-decoration: none;
    color: white;
}

h5 {
    text-align: center;
    font-size: 3em;
}

h3 {
    text-align: center;
    font-size: 3em;
}

.image {
    width:55%;
    margin-right:2%;
    float: left;
}

#pic {
    width:100%;
    overflow: hidden;
}

.paragraph {
    width:42%;
    float: left;
}

.clearfix{
    clear:both
}

.buttons {
    width: 10vw;
    margin: 0 auto;
}

.action_btn {
    display: inline-block;
    width: calc(50% - 4px);
    margin: 0 auto;
}